<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Project Page</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    </link>
</head>

<body>
    <div class="grid-container">
        <header class="header-grid-item blue">
            aa
        </header>
        <main class="main-grid-item orange">
aa
        </main>
        <footer class="footer-grid-item black">
aa
        </footer>
    </div>

    <!-- <script></script> -->
</body>

</html>