<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="../../utils/css/normalize.css">
    </link>
    <link rel="stylesheet" href="../../utils/css/main.css">
    </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <nav class="navbar background-image" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <!-- <figure class="image image is-16by9"> -->
                <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
                <img src="../images/cropped-abhi-logo-91x70-1-4.png">
                <!-- </figure> -->
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">About Us</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Program Overview</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">Medical Office Assistant/Unit Clerk</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Accounting and Payroll Administration</a>
                    </div>
                </div>

                <a class="navbar-item">Upcoming Courses</a>
                <a class="navbar-item">Admissions</a>
                <a class="navbar-item">Contact Us</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="flex-item"><i class="fas fa-phone"></i> 403-986-9998</div>
                    <div class="flex-item"><i class="far fa-clock"></i> Monday - Saturday 8:00 - 18:00</div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section is-paddingless is-marginless black">
        <div class="container centerContain">
            <video autoplay muted loop>
                <source src="../videos/abhiVideo.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class="centered">
                <h1 class="title has-text-white">Take the first steps to success</h1>
                <button class="button is-dark">Register Now</button>
            </div>
        </div>

        <!-- <div class="tile is-ancestor">
            <div class="tile is-parent is-6">
                <div class="tile is-child">
                    <div class="card box blue3">
                        <img class="picture" src="../images/abhilogo.png" alt="ABHI">
                        <h2 class="subtitle">ABHI is an educational institution that aims to produce successful
                            graduates by providing them
                            with quality education that focuses on practical and critical skills</h2>
                        <button class="button is-link">Register now!</button>
                    </div>

                </div>

            </div>

            <div class="tile is-parent is-6 is-vertical">
                <div class="tile is-child">
                    <video autoplay muted loop>
                        <source src="../videos/abhiVideo.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
                <div class="tile is-child">
                    <div class="columns is-1 boxed">
                        <div class="column is-3">
                            <object class="svg" data="../images/undraw_exams_g4ow.svg" type="image/svg+xml"></object>
                        </div>
                        <div class="column">
                            <p class="title">Small class sizes</p>
                            <p>
                                We believe in a personalized style of instructing, hence the need to limit class
                                sizes. This offers the perfect environment, for students and instructors alike, to
                                facilitate better communication, interaction and understanding during learning.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tile is-child">
                </div>

            </div>
        </div> -->

    </section>
    <section class="section is-paddingless is-marginless white">
            <div class="container centerContain">
                <div class="columns is-gapless is-vcentered">
                    <div class="column">
                        <img class="picture" src="../images/abhilogo.png" alt="ABHI">
                    </div>
                    <div class="column has-text-centered">
                        <h1 class="title">Alberta Business and Health Institute</h1>
                        <h2 class="subtitle">ABHI is an educational institution that aims to produce successful graduates by
                            providing them with quality education that focuses on practical and critical skills</h2>
                    </div>
                </div>
            </div>
        </section>


    <section class="section is-paddingless is-marginless">
        <div class="container is-fluid">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <h1 class="title">Experiences Of A Lifetime</h1>
                                        <h2 class="subtitles">Find out whats in store for you!</h1>
                                    </p>
                                </div>
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-48x48">
                                            <image class="is-rounded"
                                                src="../../ABHI/images/testimonials/Heidi Gacusan.jpg" alt="image">
                                            </image>
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Heidi Gacusan</strong>
                                                <br>
                                                Since joining ABHI, I have learned many things thanks to our very smart
                                                instructors. I have gained considerable knowledge and skills in
                                                different areas
                                                including Clinical procedures, Microsoft and now Medical Terminologies.
                                                Our
                                                instructor,especially Miss Bukky, makes our learning interesting and
                                                engaging,
                                                and helps us build our confidence. I have also made new friends which
                                                makes ABHI
                                                more than a school for me; I consider it a family.
                                                <br />
                                                <small>January 2019</small>
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-48x48">
                                            <image class="is-rounded" src="../../ABHI/images/testimonials/Alex Rae.jpg"
                                                alt="image"></image>
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Alex rae</strong>
                                                <br>
                                                I enjoy the atmosphere the school has; everyone is inviting and
                                                welcoming. My experience here in the last four months has been nothing
                                                but positive. I generally enjoyed my previous professors. The professor
                                                we have now Ms. Bukky Ayibowu is a great asset to the school and over
                                                all makes the learning experience enjoyable. The school is overall
                                                great!
                                                <br />
                                                <small>January 2019</small>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <script src="../../utils/js/bulma.js"></script>
</body>

</html>