<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Project Page</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/2.0.0/trianglify.min.js"></script>
    <link rel="stylesheet" href="../../utils/css/normalize.css"></link>
    <link rel="stylesheet" href="../../utils/css/main.css"></link>
    </link>
</head>

<body>
    <header>
        <div class="stripes">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div>
        </div>
    </header>



    <!-- <script>
        var pattern = Trianglify({variance: 0.75, seed: 'gg2eb', x_colors: 'random'});

        document.body.appendChild(pattern.canvas());
    </script> -->
</body>

</html>


<!-- Trianglify({variance: 0.75, seed: 'gg2eb', x_colors: 'random'}).canvas() -->